    body {
        margin: auto;
        max-width: 768px;
        border: 2px solid black;
        background-image: url("Background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(5px);
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
    form {
        backdrop-filter: blur(3px);
        background-size: auto;
        display: flex;
        flex-direction: column;
    }
    
    div {
        backdrop-filter: blur(3px);
        padding: 20px;
    }
    
    div.container {
        background-image: url('6383037.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-size: large;
    }
    
    input {
        padding: 8px;
    }
    
    h1 {
        color: White;
        text-align: center;
    }
    
    div.input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(5, 112, 161);
        margin: 5px 0px;
    }
    
    div.hasil {
        padding: 0px;
    }
    
    button {
        padding: 10px;
        margin-top: 10px;
        font-size: 20px;
        background-color: rgb(193, 116, 7);
        color: white;
        font-weight: 900;
        cursor: pointer;
    }
    
    button:hover {
        background-color: rgb(7, 172, 35);
    }
    
    